{% extends 'base.html' %}

<!DOCTYPE html><html lang="en">
<head>
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
{% block header %}
    <script src="{{url_for('static', filename='Functions.js')}}"></script>
    <button id='menubtn' onclick='toggleMenu()' class="burgermenubtn"><u>===M E N U===</u></button>
    <iframe src="{{ url_for ('navmenu') }}" id="my-iframe" class="menuframe">
    </iframe>
    <br><br><br>
<style> body {background-color: lightblue}</style>
{% endblock %}

{% block content %}

    <div class="container;" style="width: 82.5%; margin: 0 auto; border: 2px solid black; text-align: center;">

<table id="myTable"></table>

<script>
    var table = document.getElementById("myTable");

    for (var i = 0; i < 6; i++) {
        var row = table.insertRow(i);
        for (var j = 0; j < 7; j++) {
            var cell = row.insertCell(j);
            cell.style.minWidth = "100px";
            cell.style.maxWidth = "100px";
            cell.style.borderColor = 'white';

            var cellDiv = document.createElement('div');
            cellDiv.style.minHeight = "25px";
            cell.append(cellDiv);}}

    // 1. Static Label
    var cell1 = document.querySelector("#myTable tr:nth-child(1) td:nth-child(1)");
    cell1.style.display = 'flex';
    var lbl_1 = document.createElement('label');
    lbl_1.style.whiteSpace = 'nowrap';
    lbl_1.textContent = 'This Is A Clock Label:';
    lbl_1.style.color = 'blue'
    cell1.append(lbl_1);

    // 2a. Clock Label
    var cell2 = document.querySelector("#myTable tr:nth-child(2) td:nth-child(2)");
    cell2.style.display = 'flex';
    var lbl_Clock = document.createElement('label');
    lbl_Clock.style.whiteSpace = 'nowrap';
    lbl_Clock.style.fontFamily = 'Calibri';
    lbl_Clock.style.fontSize = '20px';
    lbl_Clock.style.fontWeight = 'bold';
    // 2b. Create a function to update the time
    function clock_time() {
        var now = new Date();
        var new_date = now.toLocaleDateString();  // Returns the date in the format mm/dd/yyyy
        var new_time = now.toLocaleTimeString();  // Returns the time in the format HH:MM:SS AM/PM
        var date_time = 'Date is ' + new_date + '\nTime is ' + new_time;
        lbl_Clock.innerText = date_time;}
    // 2c. Call clock_time once initially, then every 1000ms (1 second)
    clock_time();
    setInterval(clock_time, 1000);
    // 2d. Append it to cell container
    cell2.append(lbl_Clock);

    // 3. CheckBox
    var cell3 = document.querySelector("#myTable tr:nth-child(6) td:nth-child(2)");
    cell3.style.display = 'flex';
    // Create a new input element
    var checkbox = document.createElement('input');
    checkbox.type = 'checkbox';
    checkbox.id = 'myCheckbox'; // This id is needed to associate the label with the checkbox
    var cbx_lbl = document.createElement('label');
    cbx_lbl.style.whiteSpace = 'nowrap';
    cbx_lbl.textContent = 'CHECK THIS OUT!';
    cbx_lbl.style.color = 'magenta'
    cbx_lbl.htmlFor = checkbox.id;  // Associate the label with the checkbox
    cell3.append(checkbox, cbx_lbl);


    // 4. Image
    var cell4 = document.querySelector("#myTable tr:nth-child(3) td:nth-child(3)");
    fetch('/images')
    .then(response => response.json())
    .then(data => {const imageArray = data;
      const img = document.createElement('img');
      img.style.width = '325px'; img.style.height = '280px';
      function getRandomImage() {
          return imageArray[Math.floor(Math.random() * imageArray.length)];}
      setInterval(function() {img.src = "/static/PicRoll/" + getRandomImage();}, 3000);
      cell4.appendChild(img);}) .catch(error => console.error(error));

    // 5. entryBox
    var cell5 = document.querySelector("#myTable tr:nth-child(4) td:nth-child(5)");
    cell5.style.display = 'flex';
    cell5.style.alignItems = 'center';
    var inputBox = document.createElement('input');
    inputBox.type = 'text';
    inputBox.id = 'myInput';
    cell5.append(inputBox);

    var cell5b = document.querySelector("#myTable tr:nth-child(5) td:nth-child(1)");
    cell5b.style.display = 'flex';
    var lbl_3 = document.createElement('label');
    lbl_3.style.whiteSpace = 'nowrap';
    lbl_3.textContent = '- - -';
    cell5b.append(lbl_3);

    // 6. comboBox
    var cell6 = document.querySelector("#myTable tr:nth-child(5) td:nth-child(6)");
    cell6.style.display = 'flex';
    cell6.style.alignItems = 'center';
    var comboBox = document.createElement('select');
    comboBox.id = 'myComboBox';
    var sizes = ["SMALL", "MEDIUM", "LARGE", "XTRA LARGE"];
    for (var i = 1; i <= 4; i++) {
        var option = document.createElement('option');
        option.value = sizes[i - 1];
        option.text = sizes[i - 1];
        comboBox.append(option);}
    comboBox.style.width = '100%';
    cell6.append(comboBox);

    comboBox.addEventListener('change', function() {
        var fontSizeOptions = ['12px', '18px', '24px', '32px'];
        var selectedIndex = comboBox.selectedIndex;
        lbl_3.style.fontSize = fontSizeOptions[selectedIndex];});
    inputBox.addEventListener('input', function() {lbl_3.textContent = inputBox.value;});

    // 7 Button
    var cell7 = document.querySelector("#myTable tr:nth-child(6) td:nth-child(7)");
    cell7.style.display = 'flex'
    var btn_sound = document.createElement('button');
    btn_sound.innerHTML = "SPEECH";
    btn_sound.style.backgroundColor = 'turquoise';
    btn_sound.style.color = 'red';
    btn_sound.style.width = '100%';
    cell7.append(btn_sound);

    var sound = new Audio('/static/YoYoYo.wav');
    btn_sound.addEventListener('click', function(){
    if(checkbox.checked){
        var message = new SpeechSynthesisUtterance(inputBox.value);
    window.speechSynthesis.speak(message);}
    else {sound.play();}});

btnGH.style.backgroundColor='orange';
</script></div>

{% endblock %}

{% block footer %}{% include 'barbot.html' %}{% endblock %}
</body>
</html>