<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="{{url_for('static', filename='Functions.js')}}"></script>

<div class="container;" style="width: 100%; background-color: black; color: white; font-size: x-large;">
    <b>Digiverse Downloads</b>
    <br>+<a href="{{ url_for('home') }}" style="font-size: xxx-large" target="_parent"><button id="btnhome">Home Page</button></a>
    <br>+<a href="{{ url_for('demos') }}" style="font-size: xxx-large" target="_parent"><button id="btndemos">Program Demos</button></a>
    <br><br><b>Rational Theorist</b>
    <br>+<a href="{{ url_for('blog') }}" style="font-size: xxx-large" target="_parent"><button id="btnblog">Blog Appendix</button></a>
    <br><br><b>Want To Buy A Phone App?</b>
    <br>+<a href="{{ url_for('appstore') }}" style="font-size: xxx-large" target="_parent"><button id="btnstore">JFBV - Digital Store</button></a>
    <br><br><b>Want Help With WebApp Development?</b>
    <br>+<a href="https://digiversedownloads.com/digitalstore/contact-me/" style="font-size: xxx-large;" target="_parent"><button id="btncontact">CONTACT ME</button></a>
    <br><br><b>Follow Me On:</b>
    <br>+<a href="https://x.com/ChampWinJim" target="_parent" class="fab fa-twitter" style="font-size: xx-large">-X/Twitter</a>
    <br>+<a href="https://github.com/JamesFalk" target="_parent" class="fab fa-github" style="font-size: xx-large">-GitHub</a>
    <br>+<a href="https://youtube.com/@ChampWinJim" target="_parent" class="fab fa-youtube" style="font-size: xx-large">-YouTube</a>
</div>