{% extends 'base.html' %}

<!DOCTYPE html><html lang="en">
<head>
    <title>Random_Slideshow</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
{% block header %}
    <script src="{{url_for('static', filename='Functions.js')}}"></script>
    <button id='menubtn' onclick='toggleMenu()' class="burgermenubtn"><u>===M E N U===</u></button>
    <iframe src="{{ url_for ('navmenu') }}" id="my-iframe" class="menuframe">
    </iframe>
    <br><br><br>
<style> body {background-color: lightblue}</style>
{% endblock %}

{% block content %}
<div class="container" style="width: 100%; margin: 0 auto; border: 2px solid black; text-align: center; font-size: xx-large;">
    <br>
    Random Slideshow:
    <br>
  <script>
    fetch('/images')
      .then(response => response.json())
      .then(data => {
        const imageArray = data;
        const img = document.createElement('img');

        function getRandomImage() {
          return imageArray[Math.floor(Math.random() * imageArray.length)];}

        setInterval(() => {img.src = "/static/PicRoll/" + getRandomImage();
            const isPortrait = window.matchMedia("(orientation: portrait)").matches;
            if (isPortrait) {img.style.width = '100%';}
            else {img.style.width = '20%';};
            }, 3000);

        document.querySelector('.container').appendChild(img);})
      .catch(error => console.error(error));
  </script>
</div>


{% endblock %}

{% block footer %}{% include 'barbot.html' %}{% endblock %}
</body>
</html>